body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(45deg, rgb(255, 255, 187), rgb(0, 0, 101));
  background-size: 600%;
  animation: háttér 60s infinite;
  box-sizing: border-box;
}
.háttér {
  display: block;
}
.tulipán {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/tulipán.webp);
  background-size: 29.1vh;
  background-repeat: no-repeat;
  z-index: 0;
  margin-top: 29vh;
  position: relative;
  background-position: 10vh;
}
.fű {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/fű.webp);
  background-size: 29.1vh;
  background-repeat: repeat;
  position: absolute;

  z-index: -1;
}

.fföld {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/fföld.webp);
  background-size: 29.1vh;
}
.föld {
  width: 100%;
  height: 87vh;
  background-image: url(Forrasok/kepek/háttér/föld.webp);
  background-size: 29.1vh;
}
.föld-kő {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/föld-kő.png);
  background-size: 29.1vh;
}
.kő {
  width: 100%;
  height: 87vh;
  background-image: url(Forrasok/kepek/háttér/kő.webp);
  background-size: 29.1vh;
}
.kő-dkő {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/kő-dkő.png);
  background-size: 29.1vh;
}
.dkő {
  width: 100%;
  height: 87vh;
  background-image: url(Forrasok/kepek/háttér/dkő.webp);
  background-size: 29.1vh;
}
.dkő-bedrock {
  width: 100%;
  height: 29vh;
  background-image: url(Forrasok/kepek/háttér/dkő-bedrock.png);
  background-size: 29.1vh;
}
.bedrock {
  width: 100%;
  height: 58vh;
  background-image: url(Forrasok/kepek/háttér/bedrock.webp);
  background-size: 29.1vh;
}
.rkő {
  width: 100%;
  height: 100vh;
  background-image: url(Forrasok/kepek/háttér/rkő.webp);
  background-size: 29.1vh;
}
.tölgydeszka {
  width: 100%;
  height: 100vh;
  background-image: url(Forrasok/kepek/háttér/tölgydeszka.webp);
  background-size: 29.1vh;
}
.fenyődeszka {
  width: 100%;
  height: 100vh;
  background-image: url(Forrasok/kepek/háttér/fenyődeszka.webp);
  background-size: 29.1vh;
}
.könyv {
  width: 100%;
  height: 100vh;
  background-image: url(Forrasok/kepek/háttér/könyv.webp);
  background-size: 29.1vh;
}

@keyframes háttér {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

::-webkit-scrollbar {
  width: 1.2em;
}
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 35%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 25%);
  border-radius: 100vw;
  border: 0.15em solid hsl(0, 0%, 35%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 55%);
}
.navbar {
  /* background-image: url(Forrasok/kepek/fekete-föld.png); */
  background-color: black;
  background-repeat: repeat-x;
  background-size: 150px;
  top: 0;
  position: fixed;
  width: 100%;
  opacity: 1;
  padding-top: 21px;
  padding-bottom: 21px;
}
.navbar-brand {
  left: 0;
}

.nav-link {
  font-size: 1.5em;
  color: white !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 10vh;
  position: relative;
  font-family: cursive;
}

.nav-link:hover {
  color: bisque !important;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}
